
<!DOCTYPE html>
<html>
    <head>
        <title>SIDDHA</title>
        <style>
            .card-img-top
            {
                width: 100%;
                height: 300px;
            }
        </style>
    </head>

    <body>
        <br><h2 style="text-align: center;"> DRY FRUITS</h2><br>
        <div class="row">

            <div class="col sm-4" style="margin-left: 10px;">
                <div class="container">
                    <div class="card" style="width:250px">
                        <img class="card-img-top" src="assets/image/pulses/almond.jpg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">ALMONDS</h4>
                            <button class="btn btn-success" routerLink="/dryfruits/almond" routerLinkActive="active">VIEW PRODUCT</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col sm-4" style="margin-left: 10px;">
                <div class="container">
                    <div class="card" style="width:250px">
                    <img class="card-img-top" src="assets/image/pulses/blackraisin.jpg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h5 class="card-title">BLACK RAISIN</h5>

                            <button class="btn btn-success" routerLink="/dryfruits/blackraisin" routerLinkActive="active">VIEW PRODUCT</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col sm-4" style="margin-left: 10px;">
                <div class="container">
                    <div class="card" style="width:250px">
                    <img class="card-img-top" src="assets/image/pulses/cashew.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h5 class="card-title">CASHEW NUT</h5>

                        <button class="btn btn-success" routerLink="/dryfruits/cashewnut" routerLinkActive="active">VIEW PRODUCT</button>
                    </div>
                    </div>
                </div>
            </div>

            <div class="col sm-4" style="margin-left: 10px;">
                <div class="container">
                    <div class="card" style="width:250px">
                    <img class="card-img-top" src="assets/image/pulses/dates.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h5 class="card-title">DATES</h5>

                        <button class="btn btn-success" routerLink="/dryfruits/dates" routerLinkActive="active">VIEW PRODUCT</button>
                    </div>
                    </div>
                </div>
            </div>

        </div>

        <br><br>

        <div class="row">

            <div class="col sm-4" style="margin-left: 10px;">
                <div class="container">
                    <div class="card" style="width:250px">
                    <img class="card-img-top" src="assets/image/pulses/figfruit.jpg" alt="Card image" style="width:100%  height=100%">
                    <div class="card-body">
                        <h5 class="card-title">FIG FRUIT</h5>

                        <button class="btn btn-success" routerLink="/dryfruits/figfruit" routerLinkActive="active">VIEW PRODUCT</button>
                    </div>
                    </div>
                </div>
            </div>

            <div class="col sm-4" style="margin-left: 10px;">
                <div class="container">
                    <div class="card" style="width:250px">
                    <img class="card-img-top" src="assets/image/pulses/pista.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">PISTA</h4>

                        <button class="btn btn-success" routerLink="/dryfruits/pista" routerLinkActive="active">VIEW PRODUCT</button>
                    </div>
                    </div>
                </div>
            </div>

            <div class="col sm-4" style="margin-left: 10px;">
              <div class="container">
                  <div class="card" style="width:250px">
                  <img class="card-img-top" src="assets/image/pulses/raisins.jpg" alt="Card image" style="width:100%">
                  <div class="card-body">
                      <h4 class="card-title">RAISINS</h4>

                      <button class="btn btn-success" routerLink="/dryfruits/raisins" routerLinkActive="active">VIEW PRODUCT</button>
                  </div>
                  </div>
              </div>
          </div>

            <div class="col sm-4" style="margin-left: 10px;">
                <div class="container">
                    <div class="card" style="width:250px">
                    <img class="card-img-top" src="assets/image/pulses/walnut.jpg" alt="Card image" style="width:100% height=100%">
                    <div class="card-body">
                        <h5 class="card-title">WALNUT</h5>

                        <button class="btn btn-success" routerLink="/dryfruits/walnut" routerLinkActive="active">VIEW PRODUCT</button>
                    </div>
                    </div>
                </div>
            </div>

        </div>

        <br>
        <br>
    </body>
</html>

