.navbar-custom {
  //background-color:rgb(229, 226, 226);
  background-color:#f6f6f6;
  color: black;
}

.navbar-custom .navbar-brand,
        .navbar-custom .navbar-text {
            color: green;
        }
