<!--
<p>header works!</p>
-->
<div>
  <br><br><br>
  <h2 style="text-align: center; color :black">BALARAM CHETTIYAR SONS </h2>
  <br>
</div>

<!-- NAVBAR

*ngIf = "isAuthenticated"
-->

<div>

<nav class="navbar navbar-expand-sm fixed-top navbar-custom justify-content-between">

  <a class="navbar-brand" href="#">
    <img src="assets\image\BBB (1).png"  alt="logo" style="width:40px;">
  </a>

  <ul class="navbar-nav navbar-brand">

    <li class="nav-item active">
        <a class="nav-link" routerLink="/home" style="font-weight: bolder;">HOME</a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" routerLink="/siddha" style="font-weight: bolder;">SIDDHA</a>
    </li>

    <li class="nav-item active">
      <a class="nav-link" routerLink="/ayurvedha" style="font-weight: bolder;">AYURVEDHA</a>
    </li>

    <li class="nav-item active">
      <a class="nav-link" routerLink="/dryfruits" style="font-weight: bolder;">DRY FRUITS</a>
    </li>

    <li class="nav-item active">
      <a class="nav-link" routerLink="/auth" style="font-weight: bolder;">AUTHENTICATION</a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" routerLink="/aboutus" style="font-weight: bolder;">ABOUT US</a>
    </li>

    <li class="nav-item active" >
      <a class="nav-link" routerLink="/cart" style="font-weight: bolder;">CART</a>
    </li>
<!--
    <li class="nav-item active" >
      <a class="nav-link" routerLink="/admin" style="font-weight: bolder;">ADMIN</a>
    </li>

    <li class="nav-item active">
      <a class="nav-link" routerLink="/admindetails" style="font-weight: bolder;">ADMINDETAILS</a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" routerLink="/login" style="font-weight: bolder;">LOGIN</a>
    </li>
-->
  </ul>
  <ul class="nav navbar-nav navbar-brand navbar-right">
    <li>
      <a>LOGOUT</a>
    </li>
  </ul>
  <!--
  <form class="form-inline" action="">
    <input class="form-control mr-sm-2" type="search" placeholder="SEARCH" >
    <button class="btn btn-success my-2" type="submit">SEARCH</button>
  </form>
  -->
</nav>

</div>
