

<body>

  <div id="about" class="container-fluid bg-grey">
    <div class="row">
      <div class="col-sm-8">
        <h2>ABOUT OUR COMPANY</h2><br><br>
        <h5>Spare more with ‘Balaram Chettiar Sons’ ! We give you the most minimal costs on the entirety of your needs.<br><br>
          ‘Balaram Chettiar Sons’ is a  general merchant and an Indian drug store that gets items crosswise over classifications
          like grocery, natural products , excellence and health like siddha,ayurved,etc, conveyed to your doorstep.
        </h5>
        <br>
      </div>
      <div class="col-sm-4">
        <img src="assets\image\globe1.jpg" alt="Img4" style="width: 90%; height:300px;">
      </div>
    </div>
  </div><br><br>

  <div class="container-fluid bg-grey">
    <div class="row">
      <div class="col-sm-4">
        <img src="assets\image\Rising-bar-graph.jpg" alt="Img4" style="width: 90%; height:300px;">
      </div>
      <div class="col-sm-8">
        <h2>OUR VALUES</h2><br>
        <h4><strong>MISSION:</strong> To be the premier solution provider in our chosen markets delivering convenience, variety and fast service.</h4>    <br>
        <h4><strong>VISION:</strong> Balaram Chettiar Sons will fulfill its vision by providing quality products and superior services that add value to our customers.</h4>
      </div>
    </div>
  </div><br><br>


  <div id="portfolio" class="container-fluid text-center" style="background-color: rgb(91, 192, 222)">
    <h2 style="text-align: center;color:blanchedalmond;">What our customers say</h2>
    <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">

      <ul class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ul>


      <div class="carousel-inner" style="color: blanchedalmond;">
        <div class="carousel-item active">
          <h6>"This company products are good. I am so happy with the result!"<br><span>Priya Raj , Salem, Comment Box</span></h6><br><br>
        </div>
        <div class="carousel-item">
          <h6>"Quality Pakka!!"<br><span>Ramesh Balraj, Erode, Comment Box</span></h6><br><br>
        </div>
        <div class="carousel-item">
          <h6>"Been buying their products for years...quality standarised"<br><span>Geetha Shanmugam, Thirupur, Comment Box</span></h6><br><br>
        </div>
      </div>


      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>


  <form><br>
      <h2 style="text-align: center;">LEAVE A FEEDBACK</h2><br>
      <div class="row">

          <div class="col sm-1">
              <img src="assets\image\feedback\feedback6.png" width="100%" height="100%">
          </div>

          <div class="col sm-5">
              <label id="" for="uname"><b>USER NAME:</b></label><br>
              <input placeholder="CUSTOMER NAME" type="text" id="uname" name="uname"><br><br>
              <label id="" for="uemail"><b>MAIL ID:</b></label><br>
              <input placeholder="EMAIL ID" type="email" id="uemail" name="uemail"><br><br>
              <label id="" for="umobile"><b>MOBILE NO:</b></label><br>
              <input placeholder="MOBILE NUMBER" type="tel" id="umobile" name="umobile"><br><br>
          </div>

          <div class="col sm-5">
              <label id="" for="feed"><b>FEEDBACK :</b></label><br>
              <textarea rows="5" cols="50" name="feed" id="feed" placeholder="YOUR FEEDBACK"></textarea>
          </div>

          <div class="col sm-1">
              <img src="assets\image\feedback\feedback1.jpg" width="100%" height="100%">
          </div>
      </div><br><br>
  </form>
</body>

