
<!DOCTYPE html>
<html>
    <head>
        <title>SIDDHA</title>
        <style>
            .card-img-top
            {
                width: 100%;
                height: 300px;
            }
        </style>
    </head>

    <body>
        <br><h2 style="text-align: center;"> SIDDHA PRODUCTS</h2><br>
        <div class="row">

            <div class="col sm-4" style="margin-left: 10px;">
                <div class="container">
                    <div class="card" style="width:250px">
                        <img class="card-img-top" src="assets/image/siddha/thippili.png" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">THIPPILI RASAYANAM</h4>
                            <button class="btn btn-success" routerLink="/siddha/thippili" routerLinkActive="active">VIEW PRODUCT</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col sm-4" style="margin-left: 10px;">
                <div class="container">
                    <div class="card" style="width:250px">
                    <img class="card-img-top" src="assets/image/siddha/gandhaka.jpg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">GANDHAKA RASAYANAM</h4>

                            <button class="btn btn-success" routerLink="/siddha/gandhaka" routerLinkActive="active">VIEW PRODUCT</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col sm-4" style="margin-left: 10px;">
                <div class="container">
                    <div class="card" style="width:250px">
                    <img class="card-img-top" src="assets/image/siddha/aswagandha.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h5 class="card-title">ASWAGANDHA LEHYAM</h5>

                        <button class="btn btn-success" routerLink="/siddha/aswagandha" routerLinkActive="active">VIEW PRODUCT</button>
                    </div>
                    </div>
                </div>
            </div>

            <div class="col sm-4" style="margin-left: 10px;">
                <div class="container">
                    <div class="card" style="width:250px">
                    <img class="card-img-top" src="assets/image/siddha/lauhasava.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h5 class="card-title">LAUHASAVA</h5>

                        <button class="btn btn-success" routerLink="/siddha/lauhasava" routerLinkActive="active">VIEW PRODUCT</button>
                    </div>
                    </div>
                </div>
            </div>

        </div>

        <br><br>

        <div class="row">

            <div class="col sm-4" style="margin-left: 10px;">
                <div class="container">
                    <div class="card" style="width:250px">
                    <img class="card-img-top" src="assets/image/siddha/dabur_ashokarishta_syrup_450_ml_0.jpg" alt="Card image" style="width:100%  height=100%">
                    <div class="card-body">
                        <h4 class="card-title">ASHOKARISHTA</h4>

                        <button class="btn btn-success" routerLink="/siddha/ashokarishta" routerLinkActive="active">VIEW PRODUCT</button>
                    </div>
                    </div>
                </div>
            </div>

            <div class="col sm-4" style="margin-left: 10px;">
                <div class="container">
                    <div class="card" style="width:250px">
                    <img class="card-img-top" src="assets/image/siddha/saraswatarishta.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h5 class="card-title">SARASWAT ARISHTAM</h5>

                        <button class="btn btn-success"  routerLink="/siddha/saraswatarishta" routerLinkActive="active">VIEW PRODUCT</button>
                    </div>
                    </div>
                </div>
            </div>

            <div class="col sm-4" style="margin-left: 10px;">
                <div class="container">
                    <div class="card" style="width:250px">
                    <img class="card-img-top" src="assets/image/siddha/abayaristam.jpg" alt="Card image" style="width:100% height=100%">
                    <div class="card-body">
                        <h5 class="card-title">ABAYARISTAM</h5>

                        <button class="btn btn-success" routerLink="/siddha/abayaristam" routerLinkActive="active">VIEW PRODUCT</button>
                    </div>
                    </div>
                </div>
            </div>

            <div class="col sm-4" style="margin-left: 10px;">
                <div class="container">
                    <div class="card" style="width:250px">
                    <img class="card-img-top" src="assets/image/siddha/dashamuulaarishttamfront_300x300.webp" alt="Card image" style="width:100% height=100%">
                    <div class="card-body">
                        <h6 class="card-title">DASAMUULA ARISHTAM</h6>

                        <button class="btn btn-success" routerLink="/siddha/dashamuulaarishttam" routerLinkActive="active">VIEW PRODUCT</button>
                    </div>
                    </div>
                </div>
            </div>

        </div>
        <br><br>

    </body>
</html>
