
<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <body>

    <h3 style="text-align: center;">DASHAMUULAARISHTTAM</h3>
        <div class="row">

            <div class="col-sm-1">
            </div>

            <div class="col-sm-4">
                <div class="container">
                    <div class="card" style="width:250px">
                        <img class="card-img-top" src="assets/image/siddha/dashamuulaarishttamfront_300x300.webp" alt="Card image" style="width:100%" >
                        <div class="card-body">
                            <h6 class="card-title">&nbsp;&nbsp;DASHAMUULAARISHTTAM</h6>
                            <!--
                            <button class="btn btn-primary">BUY</button> &nbsp;

                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-primary">ADD TO CART</button>
                             -->
                        </div>
                    </div> <br>
                </div>
            </div>

            <div class="col-sm-6">
                <br><h5>DESCRIPTION </h5><br>
                <p>Dasamoolarishta is also used for ladies having problem with conception and pregnancy.It improves immunity and strength.It is usually known for digestive, carminative, anti flatulent, anti inflammatory and analgesic benefits.It is the reason the formulation is widely used by the practitioners in body ache, joint pain</p>
                <br>
                <table class="table">
                    <thead>
                    <tr>
                        <th>QUANTITIES</th>
                        <th>PRICE</th>

                        <th>ADD TO CART</th>
                    </tr>
                    </thead>
                    <tbody>
                      <!--
                        <th>IN STOCK</th>
                        <td>10</td>
                    <tr class="info">
                        <td>250 GRAMS</td>
                        <td>50</td>
                        <td>10</td>
                        <td><button class="btn btn-primary">BUY </button></td>
                    </tr>
                    <tr class="info">
                        <td>500 GRAMS</td>
                        <td>100</td>
                        <td>10</td>
                        <td><button class="btn btn-primary">BUY </button></td>
                    </tr>(click)="addToCart('104')"
                    -->
                    <tr class="info">
                        <td>1 KG</td>
                        <td>200</td>

                        <td><button class="btn btn-primary" >ADD TO CART</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-1">
            </div>
        </div><br><br>

    </body>
</html>

