
<!DOCTYPE html>
<html>
    <head>
        <title>SIDDHA</title>
        <style>
            .card-img-top
            {
                width: 100%;
                height: 300px;
            }
        </style>
    </head>

    <body>
        <br><h2 style="text-align: center;"> AYURVEDHA PRODUCTS</h2><br>
        <div class="row">

            <div class="col sm-4" style="margin-left: 10px;">
                <div class="container">
                    <div class="card" style="width:250px">
                        <img class="card-img-top" src="assets/image/ayurvedha/kadukkai.jpg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">KADUKKAI TABLET</h4>
                            <button class="btn btn-success" routerLink="/ayurvedha/kadukkai" routerLinkActive="active">VIEW PRODUCT</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col sm-4" style="margin-left: 10px;">
                <div class="container">
                    <div class="card" style="width:250px">
                    <img class="card-img-top" src="assets/image/ayurvedha/kalkaraichi.jpg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h5 class="card-title">KALKARAICHI TABLET</h5>

                            <button class="btn btn-success" routerLink="/ayurvedha/kalkaraichi" routerLinkActive="active">VIEW PRODUCT</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col sm-4" style="margin-left: 10px;">
                <div class="container">
                    <div class="card" style="width:250px">
                    <img class="card-img-top" src="assets/image/ayurvedha/neerkovai.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h5 class="card-title">NEERKOVAI TABLET</h5>

                        <button class="btn btn-success" routerLink="/ayurvedha/neerkovai" routerLinkActive="active">VIEW PRODUCT</button>
                    </div>
                    </div>
                </div>
            </div>

            <div class="col sm-4" style="margin-left: 10px;">
                <div class="container">
                    <div class="card" style="width:250px">
                    <img class="card-img-top" src="assets/image/ayurvedha/ponnavarai.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h5 class="card-title">PONNAVARAI TABLET</h5>

                        <button class="btn btn-success" routerLink="/ayurvedha/ponnavarai" routerLinkActive="active">VIEW PRODUCT</button>
                    </div>
                    </div>
                </div>
            </div>

        </div>

        <br><br>

        <div class="row">

            <div class="col sm-4" style="margin-left: 10px;">
                <div class="container">
                    <div class="card" style="width:250px">
                    <img class="card-img-top" src="assets/image/ayurvedha/thaaleesaadhi.jpg" alt="Card image" style="width:100%  height=100%">
                    <div class="card-body">
                        <h5 class="card-title">THAALEESAADHI TABLET</h5>

                        <button class="btn btn-success" routerLink="/ayurvedha/thaaleesaadhi" routerLinkActive="active">VIEW PRODUCT</button>
                    </div>
                    </div>
                </div>
            </div>

            <div class="col sm-4" style="margin-left: 10px;">
                <div class="container">
                    <div class="card" style="width:250px">
                    <img class="card-img-top" src="assets/image/ayurvedha/vilvam.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">VILVAM TABLETS</h4>

                        <button class="btn btn-success" routerLink="/ayurvedha/vilvam" routerLinkActive="active">VIEW PRODUCT</button>
                    </div>
                    </div>
                </div>
            </div>

            <div class="col sm-4" style="margin-left: 10px;">
              <div class="container">
                  <div class="card" style="width:250px">
                  <img class="card-img-top" src="assets/image/ayurvedha/vallarai.jpg" alt="Card image" style="width:100%">
                  <div class="card-body">
                      <h4 class="card-title">VALLARAI TABLET</h4>

                      <button class="btn btn-success" routerLink="/ayurvedha/vallarai" routerLinkActive="active">VIEW PRODUCT</button>
                  </div>
                  </div>
              </div>
          </div>

            <div class="col sm-4" style="margin-left: 10px;">
                <div class="container">
                    <div class="card" style="width:250px">
                    <img class="card-img-top" src="assets/image/ayurvedha/athimadhuram.png" alt="Card image" style="width:100% height=100%">
                    <div class="card-body">
                        <h5 class="card-title">ATHIMATHURAM TABLET</h5>

                        <button class="btn btn-success" routerLink="/ayurvedha/athimathuram" routerLinkActive="active">VIEW PRODUCT</button>
                    </div>
                    </div>
                </div>
            </div>

        </div>

        <br>
        <br>
    </body>
</html>
