
<!DOCTYPE html>
<html>
    <head>
        <title>HERBAL</title>
        <style>
            .card-img-top
            {
                width: 100%;
                height: 300px;
            }
        </style>
    </head>

    <body>
        <br><h2 style="text-align: center;"> HERBAL PRODUCTS</h2><br>
        <div class="row">

            <div class="col sm-4" style="margin-left: 10px;">
                <div class="container">
                    <div class="card" style="width:250px">
                        <img class="card-img-top" src="assets/image/herbal/greentea.jpg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">GREEN TEA</h4>
                            <button class="btn btn-success" routerLink="/herbal/greentea" routerLinkActive="active">VIEW PRODUCT</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col sm-4" style="margin-left: 10px;">
                <div class="container">
                    <div class="card" style="width:250px">
                    <img class="card-img-top" src="assets/image/herbal/jathikai.jpg" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h5 class="card-title">JATHIKAI</h5>

                            <button class="btn btn-success" routerLink="/herbal/jathikai" routerLinkActive="active">VIEW PRODUCT</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col sm-4" style="margin-left: 10px;">
                <div class="container">
                    <div class="card" style="width:250px">
                    <img class="card-img-top" src="assets/image/herbal/kabasuram.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h5 class="card-title">KABASURAM</h5>

                        <button class="btn btn-success" routerLink="/herbal/kabasuram" routerLinkActive="active">VIEW PRODUCT</button>
                    </div>
                    </div>
                </div>
            </div>

            <div class="col sm-4" style="margin-left: 10px;">
                <div class="container">
                    <div class="card" style="width:250px">
                    <img class="card-img-top" src="assets/image/herbal/karpuravalli.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h5 class="card-title">KARPURAVALLI</h5>

                        <button class="btn btn-success" routerLink="/herbal/karpuravalli" routerLinkActive="active">VIEW PRODUCT</button>
                    </div>
                    </div>
                </div>
            </div>

        </div>

        <br><br>

        <div class="row">

            <div class="col sm-4" style="margin-left: 10px;">
                <div class="container">
                    <div class="card" style="width:250px">
                    <img class="card-img-top" src="assets/image/herbal/kuppaimeeni.png" alt="Card image" style="width:100%  height=100%">
                    <div class="card-body">
                        <h5 class="card-title">KUPPAIMENI</h5>

                        <button class="btn btn-success" routerLink="/herbal/kuppaimeni" routerLinkActive="active">VIEW PRODUCT</button>
                    </div>
                    </div>
                </div>
            </div>

            <div class="col sm-4" style="margin-left: 10px;">
                <div class="container">
                    <div class="card" style="width:250px">
                    <img class="card-img-top" src="assets/image/herbal/nilavembu.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">NILAVEMBU</h4>

                        <button class="btn btn-success" routerLink="/herbal/nilavembu" routerLinkActive="active">VIEW PRODUCT</button>
                    </div>
                    </div>
                </div>
            </div>

            <div class="col sm-4" style="margin-left: 10px;">
              <div class="container">
                  <div class="card" style="width:250px">
                  <img class="card-img-top" src="assets/image/herbal/sakkarai.png" alt="Card image" style="width:100%">
                  <div class="card-body">
                      <h5 class="card-title">SARKARAI KOLLI CHOORANAM</h5>

                      <button class="btn btn-success" routerLink="/herbal/sakkarai" routerLinkActive="active">VIEW PRODUCT</button>
                  </div>
                  </div>
              </div>
          </div>

            <div class="col sm-4" style="margin-left: 10px;">
                <div class="container">
                    <div class="card" style="width:250px">
                    <img class="card-img-top" src="assets/image/herbal/triphala.jpg" alt="Card image" style="width:100% height=100%">
                    <div class="card-body">
                        <h5 class="card-title">TRIPHALA CHURNA</h5>

                        <button class="btn btn-success" routerLink="/herbal/triphala" routerLinkActive="active">VIEW PRODUCT</button>
                    </div>
                    </div>
                </div>
            </div>

        </div>

        <br>
        <br>
    </body>
</html>
