
<!--CAROUSAL -->
<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">

      <div class="carousel-item active">
          <img src="assets/image/carousel/name.png" style="width: 100%; height:400px;">
      </div>

      <div class="carousel-item">
          <img src="assets/image/carousel/shop.png" style="width: 100%; height:400px;">
      </div>

      <div class="carousel-item">
          <img src="assets/image/carousel/img3.jpg" alt="Img4" style="width: 100%; height:400px;">
      </div>

      <!--
      <div class="carousel-item">
          <img src="assets/image/carousel/img4.jpg" alt="Img5" style="width: 100%; height:400px;">
      </div>

      <div class="carousel-item">
          <img src="assets/image/carousel/img5.jpg" alt="Img5" style="width: 100%; height:400px;">
      </div>
      -->
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
  </a>
</div>

<br><br>

<!--DOMAINS-->
<h2 style="text-align: center;">OUR PRODUCTS</h2><br><br>
<div class="row">

  <div class="col sm-4" style="margin-left: 10px;">
      <div class="container">
          <div class="card" style="width:250px">
            <img class="card-img-top" src="assets/image/domains/siddha5.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">SIDDHA</h4>
              <p class="card-text">SIDDHA PRODUCTS</p>
              <button class="btn btn-success" routerLink="/siddha" routerLinkActive="active">VIEW PRODUCTS</button>
            </div>
          </div>
      </div>
  </div>

  <div class="col sm-4" style="margin-left: 10px;">
      <div class="container">
          <div class="card" style="width:250px">
            <img class="card-img-top" src="assets/image/domains/siddha5.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">AYURVEDHA</h4>
              <p class="card-text">AYURVEDHA PRODUCTS</p>
              <button class="btn btn-success" routerLink="/ayurvedha" routerLinkActive="active">VIEW PRODUCTS</button>
            </div>
          </div>
      </div>
  </div>

  <div class="col sm-4" style="margin-left: 10px;">
      <div class="container">
          <div class="card" style="width:250px">
            <img class="card-img-top" src="assets/image/domains/siddha5.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h5 class="card-title">DRY FRUITS</h5>
              <p class="card-text">DRY FRUITS</p>
              <button class="btn btn-success" routerLink="/dryfruits" routerLinkActive="active">VIEW PRODUCTS</button>
            </div>
          </div>
      </div>
  </div>

  <div class="col sm-4" style="margin-left: 10px;">
      <div class="container">
          <div class="card" style="width:250px">
            <img class="card-img-top" src="assets/image/domains/siddha5.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h5 class="card-title">HERBAL POWDERS</h5>
              <p class="card-text">HERBAL POWDERS</p>
              <button class="btn btn-success">VIEW PRODUCTS</button>
            </div>
          </div>
      </div>
  </div>

</div>

<br><br>

<div class="row">

  <div class="col sm-4" style="margin-left: 10px;">
      <div class="container">
          <div class="card" style="width:250px">
            <img class="card-img-top" src="assets/image/domains/siddha5.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">SIDDHA</h4>
              <p class="card-text">SIDDHA PRODUCTS</p>
              <button class="btn btn-success">VIEW PRODUCTS</button>
            </div>
          </div>
      </div>
  </div>

  <div class="col sm-4" style="margin-left: 10px;">
      <div class="container">
          <div class="card" style="width:250px">
            <img class="card-img-top" src="assets/image/domains/siddha5.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">AYURVEDHA</h4>
              <p class="card-text">AYURVEDHA PRODUCTS</p>
              <button class="btn btn-success">VIEW PRODUCTS</button>
            </div>
          </div>
      </div>
  </div>

  <div class="col sm-4" style="margin-left: 10px;">
      <div class="container">
          <div class="card" style="width:250px">
            <img class="card-img-top" src="assets/image/domains/siddha5.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h5 class="card-title">PULSES AND MILLETS</h5>
              <p class="card-text">PULSES AND MILLETS</p>
              <button class="btn btn-success">VIEW PRODUCTS</button>
            </div>
          </div>
      </div>
  </div>

  <div class="col sm-4" style="margin-left: 10px;">
      <div class="container">
          <div class="card" style="width:250px">
            <img class="card-img-top" src="assets/image/domains/siddha5.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h5 class="card-title">HERBAL POWDERS</h5>
              <p class="card-text">HERBAL POWDERS</p>
              <button class="btn btn-success">VIEW PRODUCTS</button>
            </div>
          </div>
      </div>
  </div>

</div>
<br><br>
